.banner {
    width: 100%;
    padding-block: 2.5rem;
    overflow: hidden;

    & .scroller {
        width: 100%;
        padding-block: 1rem;
        
    }

    .rolling{
        animation: slider 2s linear infinite;
    }

    .bg-gradient-animate {
        background: linear-gradient(45deg, var(--snitap-sky-light), var(--snitap-joy-light));
        background-size: 400%;
        animation: bg-gradient 20s ease infinite;
    }

}

@keyframes slider {
    to {
        transform: translateX(-132px);
    }
}

@keyframes bg-gradient {
    
    50% {
        background-position: 100% 50%;
    }
}